.container{
  width: 60%;
  float: left;
  border-right: 2px solid gray;
}
#price{
  font-size: 30px;
  color: #ff0000; 
}
#stock{
  font-size: 18px;
  font-family: sans-serif;
}
.stylerbaby{
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 12px;
  margin: 2%;
  padding: 50px;
}
